* {
  margin: 0;
  padding: 0; }

html {
  background: url("../images/wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }

body {
  height: 100%; }

.holder {
  position: relative;
  width: 100%;
  height: 100%; }

.container {
  background-color: white;
  width: 100%;
  max-width: 860px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15% 0 0 -25%; }

.square {
  position: absolute;
  margin: 0.625%;
  background-color: none;
  overflow: hidden; }
  .square > div {
    position: absolute;
    background-color: red;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 100%;
    bottom: 0px; }

.productList {
  position: relative; }

[class*="row-"] {
  width: 11.25%; }

.row-0 {
  padding-top: 0%;
  z-index: 10; }

.col-0 {
  left: 0%; }

.row-1 {
  padding-top: 12.5%;
  z-index: 9; }

.col-1 {
  left: 12.5%; }

.row-2 {
  padding-top: 25%;
  z-index: 8; }

.col-2 {
  left: 25%; }

.row-3 {
  padding-top: 37.5%;
  z-index: 7; }

.col-3 {
  left: 37.5%; }

.row-4 {
  padding-top: 50%;
  z-index: 6; }

.col-4 {
  left: 50%; }

.row-5 {
  padding-top: 62.5%;
  z-index: 5; }

.col-5 {
  left: 62.5%; }

.row-6 {
  padding-top: 75%;
  z-index: 4; }

.col-6 {
  left: 75%; }

.row-7 {
  padding-top: 87.5%;
  z-index: 3; }

.col-7 {
  left: 87.5%; }

.row-8 {
  padding-top: 100%;
  z-index: 2; }

.col-8 {
  left: 100%; }

.size-2x2 {
  width: 23.75%; }

.buttonContent {
  width: 90%;
  height: 90%;
  position: absolute;
  padding: 5%;
  cursor: pointer; }
