* {
  margin: 0;
  padding: 0;
  font-family: 'source_sans_proextralight'; }

.red {
  background-color: #e7553a !important; }

html {
  background: url("../images/wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }

body {
  height: 100%; }

.holder {
  position: relative;
  width: 100%;
  height: 100%; }

.container {
  width: 100%;
  max-width: 860px;
  max-height: 600px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15% 0 0 -25%; }

i {
  font-size: 21px !important;
  margin-left: 1px;
  color: #6f6f6f; }

.button {
  height: 20px;
  width: 100px;
  margin-right: 10px;
  padding: 10px;
  background-color: #FFFFFF; }
  .button p {
    text-transform: uppercase;
    float: right;
    font-size: 18px;
    color: #6f6f6f; }
  .button.last {
    margin-right: 0; }

section.bill {
  width: 35%;
  height: 100%;
  position: inherit; }
  section.bill .power {
    position: absolute;
    top: 0;
    background-color: #cb0909;
    width: 20px;
    float: left; }
    section.bill .power i {
      color: #FFFFFF; }
  section.bill .history {
    position: absolute;
    right: 0;
    top: 0;
    float: right; }
  section.bill .list {
    margin-top: 50px;
    background-color: #FFFFFF;
    height: 83.33333%; }
  section.bill .clear {
    width: 41.66667%;
    float: left;
    margin-top: 10px;
    background-color: #ababab; }
    section.bill .clear p {
      color: #FFFFFF;
      float: none;
      text-align: center; }
  section.bill .checkout {
    width: 41.66667%;
    margin-top: 10px;
    float: right;
    background-color: #0daa36; }
    section.bill .checkout i, section.bill .checkout p {
      color: #FFFFFF; }

section.terminal {
  width: 65%; }

.square {
  position: absolute;
  margin: 0.625%;
  background-color: none;
  overflow: hidden; }
  .square > div {
    position: absolute;
    background-color: red;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 100%;
    bottom: 0px; }

.productList {
  position: relative; }

[class*="row-"] {
  width: 11.25%; }

.row-0 {
  padding-top: 0%;
  z-index: 10; }

.col-0 {
  left: 0%; }

.row-1 {
  padding-top: 12.5%;
  z-index: 9; }

.col-1 {
  left: 12.5%; }

.row-2 {
  padding-top: 25%;
  z-index: 8; }

.col-2 {
  left: 25%; }

.row-3 {
  padding-top: 37.5%;
  z-index: 7; }

.col-3 {
  left: 37.5%; }

.row-4 {
  padding-top: 50%;
  z-index: 6; }

.col-4 {
  left: 50%; }

.row-5 {
  padding-top: 62.5%;
  z-index: 5; }

.col-5 {
  left: 62.5%; }

.row-6 {
  padding-top: 75%;
  z-index: 4; }

.col-6 {
  left: 75%; }

.row-7 {
  padding-top: 87.5%;
  z-index: 3; }

.col-7 {
  left: 87.5%; }

.row-8 {
  padding-top: 100%;
  z-index: 2; }

.col-8 {
  left: 100%; }

.size-2x2 {
  width: 23.75%; }

.buttonContent {
  width: 90%;
  height: 90%;
  position: absolute;
  padding: 5%;
  cursor: pointer; }
