$darkred: #ed4d47;
$red: #e7553a;
$orange: #e76a3b;
$grey: #6f6f6f;
$lightgrey: #ababab;
$green: #0daa36;

* {
  margin: 0;
  padding: 0;
}

html {
  background: url("../images/wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body{
  height: 100%;
}

.holder {
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  background-color: white;
  width: 100%;
  max-width: 860px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15% 0 0 -25%;
}

.square {
    position: absolute;
    margin:0.625%;
    background-color: none;
    overflow:hidden;
    
    > div {
	    position: absolute;
	    background-color: red;
	    border-radius: 5px;
	    width: 100%;
	    padding-bottom: 100%;
	    bottom: 0px;
    }
}

.productList {
    position: relative;
}

[class*="row-"] {
	width: 11.25%;
}

@for $i from 0 through 8 {
	.row-#{$i} {
		padding-top: 12.5% * $i;
        z-index: 10 - $i;
	}
	.col-#{$i} {
		left: 12.5% * $i;
	}
}

.size-2x2 {
    width: 23.75%;
}

.buttonContent {
    width: 90%;
    height: 90%;
    position: absolute;
    padding: 5%;
    cursor: pointer;
}