.square {
    position: absolute;
    margin:0.625%;
    background-color: none;
    overflow:hidden;
    
    > div {
	    position: absolute;
	    background-color: red;
	    border-radius: 5px;
	    width: 100%;
	    padding-bottom: 100%;
	    bottom: 0px;
    }
}

.productList {
    position: relative;
}

[class*="row-"] {
	width: 11.25%;
}

@for $i from 0 through 8 {
	.row-#{$i} {
		padding-top: 12.5% * $i;
	}
	.col-#{$i} {
		left: 12.5% * $i;
		z-index: 10 - $i;
	}
}

.size-2x2 {
    width: 23.75%;
}

.buttonContent {
    width: 90%;
    height: 90%;
    position: absolute;
    padding: 5%;
    cursor: pointer;
}